<!--Call To Action-->
<div class="container">
    <div class="row">
        <h1 class="cta-text">Get Free Quotes from up to 6 Removal Companies</h1>
    </div>
    <div class="row cta-container">
        <div class="col-md-4">
            <label class="cta-select">I'm moving from:
                <select>
                    <option value="volvo">United Kingdom</option>
                    <option value="saab">Long Country Name Here</option>
                </select>
            </label>
        </div>
        <div class="col-md-4">
            <label class="cta-select">I'm moving to:
                <select>
                    <option value="volvo">Addis Abbaba</option>
                    <option value="saab">Long Country Name Here</option>
                </select>
            </label>
        </div>
        <div class="col-md-4">
            <div class="cta-area">
                <button class="cta-area--button">Get Quotes</button>
                <p class="cta-area--text">
                    It only takes 60 seconds
                </p>
            </div>
        </div>
    </div>
</div>

