<!--Features-->
<div class="container">
    <div class="features-container">
        <div class="row">
            <div class="col-md-4">
                <div class="features-area">
                    <img class="features-area--img" src="/img/clock.png" alt="icon clock"/>
                    <p class="features-area--text">Quick quotes without obligation</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features-area">
                    <img class="features-area--img" src="/img/money.png" alt="icon money"/>
                    <p class="features-area--text">Compare prices and services</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features-area">
                    <img class="features-area--img" src="/img/van.png" alt="icon van"/>
                    <p class="features-area--text">Choose from our authorised partners</p>
                </div>
            </div>
        </div>
    </div>
</div>