<!--Footer-->
<footer class="footer-container">
    <div class="container-fluid">
        <div class="footer-navigation">
            <div class="row">
                <div class="col-md-2"><a class="footer-heading" href="#">Our Data</a></div>
                <div class="col-md-2"><a class="footer-heading active" href="#">Partner With Us</a></div>
                <div class="col-md-2"><a class="footer-heading" href="#">Press Area</a></div>
                <div class="col-md-2"><a class="footer-heading" href="#" id="lightbox-open">Privacy</a></div>
                <div class="col-md-2"><a class="footer-heading" href="#">Terms of Use</a></div>
                <div class="col-md-2"><a class="footer-heading" href="#">FAQ</a></div>
            </div>
        </div>
        <hr class="footer-divider"/>
        <div class="footer-area">
            <div class="row center-vertical">
                <div class="col-md-3">
                    <img class="footer-logo" src="/img/white-logo.png" alt="MoveHub Logo">
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-8">
                            <h2 class="footer-area--title">We are MoveHub</h2>
                            <p class="footer-area--body">We are passionate about helping people move abroad. MoveHub
                                launched in November 2013 and is the most exciting thing since sliced bread.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-contact">
                        <a href="#"><img src="/img/facebook.png" alt="Icon Facebook" class="footer-contact--icon"></a>
                        <a href="#"><img src="/img/twitter.png" alt="Icon Twitter" class="footer-contact--icon"></a>
                        <a href="#"> <img src="/img/linkedin.png" alt="Icon LinkedIn" class="footer-contact--icon"></a>
                        <a href="#"> <img src="/img/pinterest.png" alt="Icon Pinterest"
                                          class="footer-contact--icon"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>