<!--Header-->
<div class="container">
    <header class="row header">
        <div class="col-md-10">
            <div class="header-logo"><a href="#home">
                <img class="header-logo--img" src="/img/colour-logo.png"
                     alt="MoveHub"></a>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="header-like--btn">
                <img class="header-like--thumb" src="/img/like-thumb.png"
                     alt="like">&nbsp;&nbsp;Like&nbsp;&nbsp;8.1k
            </button>
        </div>
    </header>
</div>
