<!--Light box-->
<div id="overlay">
    <div id="lightbox">
        <div class="container-fluid">
            <div class="lightbox-area">
                <div class="row justify-content-center center-vertical">
                    <div class="col-md-7">
                        <p>
                            Standardafsnittet af Lorem Ipsum, som er brugt siden 1500-tallet, er gengivet nedenfor for
                            de, der er interesserede. Afsnittene 1.10.32 og 1.10.33 fra "de Finibus Bonorum et Malorum"
                            af Cicero er også gengivet i deres nøjagtige udgave i selskab med den engelske udgave fra
                            oversættelsen af H. Rackham fra 1914.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <button id="lightbox-close" class="lightbox-btn">I understand</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>