<!-- Selling Points -->
<div class="container">
    <div class="sPoints">
        <div class="row">
            <div class="col-md-4">
                <div class="sPoint-container">
                    <h2>Why Choose Movehub?</h2>
                    <p>Over the past four years, Movehub has helped half a milion people sucessfully move overseas and
                        locally.</p>
                    <div class="sPoint-graphics--trust-widget">
                        <img src="/img/trustpilot.png"/>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="testimonial-widget" class="sPoint-container">
                    <div class="sPoint-text">
                        <h2>What Others Say</h2>
                        <p>"Amazing! Would recommend to anyone moving abroad. The MoveHub website helped me so
                            much."</p>
                    </div>
                    <div class="sPoint-graphics">
                        <div class="sPoint-graphics--user-icon">
                            <img src="/img/joe-blogs.png"/>
                        </div>
                        <div class="sPoint-graphics--user-name">
                            Andrew Moreley
                        </div>
                        <div class="sPoint-graphics--user-date">
                            22 August 2016
                        </div>
                        <!-- Temp controls for the widget -->
                        <div class="sPoint-graphics--control">
                            <i class="fa fa-circle active" aria-hidden="true"></i>
                            <i class="fa fa-circle " aria-hidden="true"></i>
                            <i class="fa fa-circle " aria-hidden="true"></i>
                            <i class="fa fa-circle " aria-hidden="true"></i>
                            <i class="fa fa-circle " aria-hidden="true"></i>
                            <i class="fa fa-circle " aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sPoint-container">
                    <h2>Recognised Worldwide</h2>
                    <p>We are a proud member of the International Association of Movers and IAM Logistic Network.</p>
                    <div class="sPoint-graphics">
                        <div class="sPoint-graphics--2-logos">
                            <div class="sPoint-graphics--logo">
                                <img src="/img/iam-nextwork-logo.png" alt="IAM Network Logo"/>
                            </div>
                            <div class="sPoint-graphics--logo">
                                <img src="/img/iam-logo.png" alt="IAM Logo"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>