.features {
  &-container {
    padding: 5em 0;
  }
  &-area {
    text-align: center;
    padding: 0 1.4em;
    &--img {
      height: 2em;
      width: auto;
    }
    &--text {
      font-size: 0.9em;
      line-height: 1.5em;
    }
  }
}