//Padding
$padding:0.5em;
//Colors
$accent-color: #FF586A;
$cta-container-border: #47CBCF;
$button-color--like: #318CFF;
$text-light: #FFF;
$text-dark: #494B4A;
$sPoints-control--active: #FCC704;
$sPoints-control: #A2A2A2;
$footer-color-top:#FC6076;
$footer-color-bottom:#F88D6B;
//Like button border-radius
$rounded-corner-radius: 0.2em;
//Shadows
$shadow-size--small: 4px;
$shadow-size--big: 8px;
$shadow-transparency: 0.1;

